@model CitiFine.Models.Violation

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Violation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ViolationId" />
            <div class="form-group">
                <label class="control-label">Violation Type</label>
                <input asp-for="ViolationType" class="form-control" />
                <span asp-validation-for="ViolationType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Fine Amount</label>
                <input asp-for="FineAmount" class="form-control" />
                <span asp-validation-for="FineAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Date Issued</label>
                <input asp-for="DateIssued" class="form-control" />
                <span asp-validation-for="DateIssued" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">User ID</label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsPaid" /> Paid
                </label>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
