@{
    ViewData["Title"] = "Home Page";
}
<div style="display: flex; justify-content: center; align-items: center;">
    <img src="/images/RedDeerLogo.png" />
</div>

<br />

<div class="text-center">
    <h1 class="display-4">CitiFine</h1>
    <h1 class="display-6">Traffic Violation Management System</h1>
    <p>Display <a asp-action="Index" asp-controller="Violations">Violation List</a></p>
</div>
