@{
    ViewData["Title"] = "Home Page";
}
<div style="display: flex; justify-content: center; align-items: center;">
    <img src="/images/CitiFine_v2.png" />
</div>

<br />

<div class="text-center">
    <h1 class="display-7">Traffic Violation Management System</h1>
    <h4>Stay informed and drive with confidence with CitiFine.</h4>
</div>
